.btn {
    border-width: 2px;
}

body {
    font-family: Jost;
}

.display-1 {
    font-family: 'Jost', sans-serif;
    font-size: 2.8rem;
    line-height: 1.1;
}

.display-1>.mbr-iconfont {
    font-size: 3.5rem;
}

.display-2 {
    font-family: 'Jost', sans-serif;
    font-size: 3.2rem;
    line-height: 1.1;
}

.display-2>.mbr-iconfont {
    font-size: 4rem;
}

.display-4 {
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

.display-4>.mbr-iconfont {
    font-size: 1.375rem;
}

.display-5 {
    font-family: 'Jost', sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

.display-5>.mbr-iconfont {
    font-size: 3rem;
}

.display-7 {
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.display-7>.mbr-iconfont {
    font-size: 2rem;
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */

/* 100vw - current viewport width */

/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */

/* 0.65 - min scale variable, may vary */

@media (max-width: 992px) {
    .display-1 {
        font-size: 2.24rem;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 1.96rem;
        font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.1 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
        font-size: 2.56rem;
        font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.3 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
        font-size: 0.88rem;
        font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
        font-size: 1.92rem;
        font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
        font-size: 1.28rem;
        font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
    }
}

/* Buttons */

.btn {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-sm {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-md {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-lg {
    padding: 1rem 2.6rem;
    border-radius: 4px;
}

.bg-primary {
    background-color: #6c1c24 !important;
}

.bg-success {
    background-color: #2299aa !important;
}

.bg-info {
    background-color: #47b5ed !important;
}

.bg-warning {
    background-color: #ffe161 !important;
}

.bg-danger {
    background-color: #0783dd !important;
}

.btn-primary,
.btn-primary:active {
    background-color: #6c1c24 !important;
    border-color: #6c1c24 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
    color: #ffffff !important;
    background-color: #270a0d !important;
    border-color: #270a0d !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff !important;
    background-color: #270a0d !important;
    border-color: #270a0d !important;
}

.btn-secondary,
.btn-secondary:active {
    background-color: #e43f3f !important;
    border-color: #e43f3f !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
    color: #ffffff !important;
    background-color: #b31919 !important;
    border-color: #b31919 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #b31919 !important;
    border-color: #b31919 !important;
}

.btn-info,
.btn-info:active {
    background-color: #47b5ed !important;
    border-color: #47b5ed !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
    color: #ffffff !important;
    background-color: #148cca !important;
    border-color: #148cca !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff !important;
    background-color: #148cca !important;
    border-color: #148cca !important;
}

.btn-success,
.btn-success:active {
    background-color: #2299aa !important;
    border-color: #2299aa !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
    color: #ffffff !important;
    background-color: #145862 !important;
    border-color: #145862 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #ffffff !important;
    background-color: #145862 !important;
    border-color: #145862 !important;
}

.btn-warning,
.btn-warning:active {
    background-color: #ffe161 !important;
    border-color: #ffe161 !important;
    color: #614f00 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
    color: #0a0800 !important;
    background-color: #ffd10a !important;
    border-color: #ffd10a !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #614f00 !important;
    background-color: #ffd10a !important;
    border-color: #ffd10a !important;
}

.btn-danger,
.btn-danger:active {
    background-color: #0783dd !important;
    border-color: #0783dd !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
    color: #ffffff !important;
    background-color: #045189 !important;
    border-color: #045189 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #ffffff !important;
    background-color: #045189 !important;
    border-color: #045189 !important;
}

.btn-white,
.btn-white:active {
    background-color: #fafafa !important;
    border-color: #fafafa !important;
    color: #7a7a7a !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
    color: #4f4f4f !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-white.disabled,
.btn-white:disabled {
    color: #7a7a7a !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
}

.btn-black,
.btn-black:active {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-black.disabled,
.btn-black:disabled {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-primary-outline,
.btn-primary-outline:active {
    background-color: transparent !important;
    border-color: #6c1c24;
    color: #6c1c24;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
    color: #270a0d !important;
    background-color: transparent !important;
    border-color: #270a0d !important;
    box-shadow: none !important;
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #6c1c24 !important;
    border-color: #6c1c24 !important;
}

.btn-secondary-outline,
.btn-secondary-outline:active {
    background-color: transparent !important;
    border-color: #e43f3f;
    color: #e43f3f;
}

.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
    color: #b31919 !important;
    background-color: transparent !important;
    border-color: #b31919 !important;
    box-shadow: none !important;
}

.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #e43f3f !important;
    border-color: #e43f3f !important;
}

.btn-info-outline,
.btn-info-outline:active {
    background-color: transparent !important;
    border-color: #47b5ed;
    color: #47b5ed;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
    color: #148cca !important;
    background-color: transparent !important;
    border-color: #148cca !important;
    box-shadow: none !important;
}

.btn-info-outline.disabled,
.btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #47b5ed !important;
    border-color: #47b5ed !important;
}

.btn-success-outline,
.btn-success-outline:active {
    background-color: transparent !important;
    border-color: #2299aa;
    color: #2299aa;
}

.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
    color: #145862 !important;
    background-color: transparent !important;
    border-color: #145862 !important;
    box-shadow: none !important;
}

.btn-success-outline.disabled,
.btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #2299aa !important;
    border-color: #2299aa !important;
}

.btn-warning-outline,
.btn-warning-outline:active {
    background-color: transparent !important;
    border-color: #ffe161;
    color: #ffe161;
}

.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
    color: #ffd10a !important;
    background-color: transparent !important;
    border-color: #ffd10a !important;
    box-shadow: none !important;
}

.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
    color: #614f00 !important;
    background-color: #ffe161 !important;
    border-color: #ffe161 !important;
}

.btn-danger-outline,
.btn-danger-outline:active {
    background-color: transparent !important;
    border-color: #0783dd;
    color: #0783dd;
}

.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
    color: #045189 !important;
    background-color: transparent !important;
    border-color: #045189 !important;
    box-shadow: none !important;
}

.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #0783dd !important;
    border-color: #0783dd !important;
}

.btn-black-outline,
.btn-black-outline:active {
    background-color: transparent !important;
    border-color: #232323;
    color: #232323;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
    color: #000000 !important;
    background-color: transparent !important;
    border-color: #000000 !important;
    box-shadow: none !important;
}

.btn-black-outline.disabled,
.btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #232323 !important;
    border-color: #232323 !important;
}

.btn-white-outline,
.btn-white-outline:active {
    background-color: transparent !important;
    border-color: #fafafa;
    color: #fafafa;
}

.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
    color: #cfcfcf !important;
    background-color: transparent !important;
    border-color: #cfcfcf !important;
    box-shadow: none !important;
}

.btn-white-outline.disabled,
.btn-white-outline:disabled {
    color: #7a7a7a !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
}

.text-primary {
    color: #6c1c24 !important;
}

.text-secondary {
    color: #e43f3f !important;
}

.text-success {
    color: #2299aa !important;
}

.text-info {
    color: #47b5ed !important;
}

.text-warning {
    color: #ffe161 !important;
}

.text-danger {
    color: #0783dd !important;
}

.text-white {
    color: #fafafa !important;
}

.text-black {
    color: #232323 !important;
}

a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
    color: #1b0709 !important;
}

a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
    color: #a61717 !important;
}

a.text-success:hover,
a.text-success:focus,
a.text-success.active {
    color: #114c55 !important;
}

a.text-info:hover,
a.text-info:focus,
a.text-info.active {
    color: #1283bc !important;
}

a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
    color: #facb00 !important;
}

a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
    color: #04487a !important;
}

a.text-white:hover,
a.text-white:focus,
a.text-white.active {
    color: #c7c7c7 !important;
}

a.text-black:hover,
a.text-black:focus,
a.text-black.active {
    color: #000000 !important;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
    position: relative;
    background-image: transparent;
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0px 1.2em;
    background-position: -10000px 1.2em;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
    transition: background-position 2s ease-in-out;
    background-image: linear-gradient(currentColor 50%, currentColor 50%);
    background-position: 0px 1.2em;
}

.nav-tabs .nav-link.active {
    color: #6c1c24;
}

.nav-tabs .nav-link:not(.active) {
    color: #232323;
}

.alert-success {
    background-color: #70c770;
}

.alert-info {
    background-color: #47b5ed;
}

.alert-warning {
    background-color: #ffe161;
}

.alert-danger {
    background-color: #0783dd;
}

.mbr-gallery-filter li.active .btn {
    background-color: #6c1c24;
    border-color: #6c1c24;
    color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
}

a,
a:hover {
    color: #6c1c24;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #cc3b4a;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #6ad2e1;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #b3defd;
}

/* Scroll to top button*/

.form-control {
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
}

.form-control>.mbr-iconfont {
    font-size: 1.375rem;
}

.form-control:hover,
.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #6c1c24 !important;
}

.form-control:-webkit-input-placeholder {
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
}

.form-control:-webkit-input-placeholder>.mbr-iconfont {
    font-size: 1.375rem;
}

blockquote {
    border-color: #6c1c24;
}

/* Forms */

.jq-selectbox li:hover,
.jq-selectbox li.selected {
    background-color: #6c1c24;
    color: #ffffff;
}

.jq-number__spin {
    transition: 0.25s ease;
}

.jq-number__spin:hover {
    border-color: #6c1c24;
}

.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
    transition: 0.4s;
    border-top-color: #353535;
    border-bottom-color: #353535;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
    border-top-color: #6c1c24;
    border-bottom-color: #6c1c24;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    color: #ffffff !important;
    background-color: #6c1c24 !important;
    box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #ffffff !important;
    background: #e43f3f !important;
    box-shadow: none !important;
}

.lazy-bg {
    background-image: none !important;
}

.lazy-placeholder:not(section),
.lazy-none {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
}

iframe.lazy-placeholder,
.lazy-placeholder:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236c1c24' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

section.lazy-placeholder:after {
    opacity: 0.5;
}

body {
    overflow-x: hidden;
}

a {
    transition: color 0.6s;
}

.cid-v4lqw7HFfI .navbar-dropdown {
    position: relative !important;
}

.cid-v4lqw7HFfI .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
}

.cid-v4lqw7HFfI .dropdown-menu {
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.cid-v4lqw7HFfI .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
}

.cid-v4lqw7HFfI .dropdown-item:hover,
.cid-v4lqw7HFfI .dropdown-item:focus {
    background: #6c1c24 !important;
    color: white !important;
}

.cid-v4lqw7HFfI .dropdown-item:hover span {
    color: white;
}

.cid-v4lqw7HFfI .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cid-v4lqw7HFfI .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cid-v4lqw7HFfI .nav-dropdown .link {
    padding: 0 0.3em !important;
    margin: 0.667em 1em !important;
}

.cid-v4lqw7HFfI .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

.cid-v4lqw7HFfI .nav-link {
    position: relative;
}

.cid-v4lqw7HFfI .container {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
}

@media (max-width: 991px) {
    .cid-v4lqw7HFfI .container {
        flex-wrap: wrap;
    }
}

.cid-v4lqw7HFfI .container-fluid {
    flex-wrap: nowrap;
}

@media (max-width: 991px) {
    .cid-v4lqw7HFfI .container-fluid {
        flex-wrap: wrap;
    }
}

.cid-v4lqw7HFfI .iconfont-wrapper {
    color: #000000 !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.cid-v4lqw7HFfI .dropdown-menu,
.cid-v4lqw7HFfI .navbar.opened {
    background: #10375b !important;
}

.cid-v4lqw7HFfI .nav-item:focus,
.cid-v4lqw7HFfI .nav-link:focus {
    outline: none;
}

.cid-v4lqw7HFfI .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
}

.cid-v4lqw7HFfI .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
}

.cid-v4lqw7HFfI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
}

.cid-v4lqw7HFfI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
}

.cid-v4lqw7HFfI .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
}

.cid-v4lqw7HFfI .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
}

.cid-v4lqw7HFfI .navbar {
    min-height: 70px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #10375b;
}

.cid-v4lqw7HFfI .navbar.opened {
    transition: all 0.3s;
}

.cid-v4lqw7HFfI .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
}

.cid-v4lqw7HFfI .navbar .navbar-logo img {
    width: auto;
}

.cid-v4lqw7HFfI .navbar .navbar-collapse {
    justify-content: flex-end;
    z-index: 1;
}

.cid-v4lqw7HFfI .navbar.collapsed {
    justify-content: center;
}

.cid-v4lqw7HFfI .navbar.collapsed .nav-item .nav-link::before {
    display: none;
}

.cid-v4lqw7HFfI .navbar.collapsed.opened .dropdown-menu {
    top: 0;
}

.cid-v4lqw7HFfI .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
}

.cid-v4lqw7HFfI .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
}

.cid-v4lqw7HFfI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
}

.cid-v4lqw7HFfI .navbar.collapsed ul.navbar-nav li {
    margin: auto;
}

.cid-v4lqw7HFfI .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
}

.cid-v4lqw7HFfI .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 991px) {
    .cid-v4lqw7HFfI .navbar .nav-item .nav-link::before {
        display: none;
    }
    .cid-v4lqw7HFfI .navbar.opened .dropdown-menu {
        top: 0;
    }
    .cid-v4lqw7HFfI .navbar .dropdown-menu .dropdown-submenu {
        left: 0 !important;
    }
    .cid-v4lqw7HFfI .navbar .dropdown-menu .dropdown-item:after {
        right: auto;
    }
    .cid-v4lqw7HFfI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
        margin-left: 0.5rem;
        margin-top: 0.2rem;
        border-top: 0.35em solid;
        border-right: 0.35em solid transparent;
        border-left: 0.35em solid transparent;
        border-bottom: 0;
        top: 40%;
    }
    .cid-v4lqw7HFfI .navbar .navbar-logo img {
        height: 3rem !important;
    }
    .cid-v4lqw7HFfI .navbar ul.navbar-nav li {
        margin: auto;
    }
    .cid-v4lqw7HFfI .navbar .dropdown-menu .dropdown-item {
        padding: 0.25rem 1.5rem !important;
        text-align: center;
    }
    .cid-v4lqw7HFfI .navbar .navbar-brand {
        flex-shrink: initial;
        flex-basis: auto;
        word-break: break-word;
        padding-right: 2rem;
    }
    .cid-v4lqw7HFfI .navbar .navbar-toggler {
        flex-basis: auto;
    }
    .cid-v4lqw7HFfI .navbar .icons-menu {
        padding-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (max-width: 991px) and (max-width: 767px) {
    .cid-v4lqw7HFfI .navbar .navbar-brand {
        width: calc(100% - 31px);
    }
}

.cid-v4lqw7HFfI .navbar.navbar-short {
    min-height: 60px;
}

.cid-v4lqw7HFfI .navbar.navbar-short .navbar-logo img {
    height: 2.5rem !important;
}

.cid-v4lqw7HFfI .navbar.navbar-short .navbar-brand {
    min-height: 60px;
    padding: 0;
}

.cid-v4lqw7HFfI .navbar-brand {
    min-height: 70px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
}

.cid-v4lqw7HFfI .navbar-brand .navbar-caption {
    line-height: inherit !important;
}

.cid-v4lqw7HFfI .navbar-brand .navbar-logo a {
    outline: none;
}

.cid-v4lqw7HFfI .dropdown-item.active,
.cid-v4lqw7HFfI .dropdown-item:active {
    background-color: transparent;
}

.cid-v4lqw7HFfI .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.cid-v4lqw7HFfI .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
}

.cid-v4lqw7HFfI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
}

.cid-v4lqw7HFfI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #10375b;
}

.cid-v4lqw7HFfI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 100%;
}

.cid-v4lqw7HFfI .navbar .dropdown.open>.dropdown-menu {
    display: block;
}

.cid-v4lqw7HFfI ul.navbar-nav {
    flex-wrap: wrap;
}

.cid-v4lqw7HFfI .navbar-buttons {
    text-align: center;
    min-width: 170px;
}

.cid-v4lqw7HFfI button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
}

.cid-v4lqw7HFfI button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #ffffff;
}

.cid-v4lqw7HFfI button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
}

.cid-v4lqw7HFfI button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
}

.cid-v4lqw7HFfI button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
}

.cid-v4lqw7HFfI button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
}

.cid-v4lqw7HFfI nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-v4lqw7HFfI nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
}

.cid-v4lqw7HFfI nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
}

.cid-v4lqw7HFfI nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-v4lqw7HFfI .navbar-dropdown {
    padding: 0 1rem;
}

.cid-v4lqw7HFfI a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cid-v4lqw7HFfI .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .cid-v4lqw7HFfI .navbar {
        height: 70px;
    }
    .cid-v4lqw7HFfI .navbar.opened {
        height: auto;
    }
    .cid-v4lqw7HFfI .nav-item .nav-link:hover::before {
        width: 175%;
        max-width: calc(100% + 2rem);
        left: -1rem;
    }
}

.cid-v7abhd87fU {
    padding-top: 4rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-v7abhd87fU .mbr-fallback-image.disabled {
    display: none;
}

.cid-v7abhd87fU .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 991px) {
    .cid-v7abhd87fU .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-v7abhd87fU .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cid-v7abhd87fU .text-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .cid-v7abhd87fU .text-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-tB83YwBUMj {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tB83YwBUMj .mbr-fallback-image.disabled {
    display: none;
}

.cid-tB83YwBUMj .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tB83YwBUMj .mbr-section-subtitle {
    color: #ffffff;
}

.cid-v4lqZkBcQk {
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
}

.cid-v4lqZkBcQk .row {
    flex-direction: row-reverse;
}

.cid-v4lqZkBcQk .row {
    align-items: center;
}

@media (max-width: 991px) {
    .cid-v4lqZkBcQk .image-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 992px) {
    .cid-v4lqZkBcQk .text-wrapper {
        padding: 0 2rem;
    }
}

.cid-v4lqZkBcQk .mbr-text,
.cid-v4lqZkBcQk .mbr-section-btn {
    text-align: left;
}

.cid-v4lqZkBcQk .mbr-section-title {
    color: #128cbc;
}

.cid-uppRxLahsB {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-uppRxLahsB .mbr-fallback-image.disabled {
    display: none;
}

.cid-uppRxLahsB .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uppRxLahsB .mbr-section-title {
    color: #fde25b;
}

.cid-uppRxLahsB .mbr-section-subtitle {
    color: #ffffff;
}

.cid-uppRz6LTf7 {
    padding-top: 1rem;
    padding-bottom: 0rem;
    background: #ffffff;
}

.cid-uppRz6LTf7 .mbr-fallback-image.disabled {
    display: none;
}

.cid-uppRz6LTf7 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uppRz6LTf7 .team-card {
    margin-bottom: 2rem;
    transition: all 0.3s;
}

.cid-uppRz6LTf7 .team-card:hover {
    transform: translateY(-10px);
}

.cid-uppRz6LTf7 .card-wrap {
    background: #ffffff;
    border-radius: 4px;
}

@media (max-width: 991px) {
    .cid-uppRz6LTf7 .card-wrap {
        margin-bottom: 2rem;
    }
}

.cid-uppRz6LTf7 .card-wrap .image-wrap img {
    width: 100%;
}

@media (min-width: 768px) {
    .cid-uppRz6LTf7 .card-wrap .content-wrap {
        padding: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-uppRz6LTf7 .card-wrap .content-wrap {
        padding: 1rem;
    }
}

.cid-uppRz6LTf7 .social-row {
    text-align: center;
}

.cid-uppRz6LTf7 .social-row .soc-item {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.6rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 2px solid #6592e6;
    transition: all 0.3s;
}

.cid-uppRz6LTf7 .social-row .soc-item .mbr-iconfont {
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #6592e6;
    font-size: 1.5rem;
}

.cid-uppRz6LTf7 .social-row .soc-item:hover {
    background-color: #6592e6;
}

.cid-uppRz6LTf7 .social-row .soc-item:hover .mbr-iconfont {
    color: #ffffff;
}

.cid-uppRzWl9Kg {
    padding-top: 0rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-uppRzWl9Kg .mbr-fallback-image.disabled {
    display: none;
}

.cid-uppRzWl9Kg .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 991px) {
    .cid-uppRzWl9Kg .image-wrapper {
        margin-bottom: 1rem;
    }
}

.cid-uppRzWl9Kg .row {
    flex-direction: row-reverse;
}

.cid-uppRzWl9Kg img {
    width: 100%;
}

.cid-tRBZcaLIQn {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tRBZcaLIQn .mbr-fallback-image.disabled {
    display: none;
}

.cid-tRBZcaLIQn .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tRBZcaLIQn .mbr-section-subtitle {
    color: #ffffff;
}

.cid-tRVV2g4uam {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tRVV2g4uam img,
.cid-tRVV2g4uam .item-img {
    width: 100%;
}

.cid-tRVV2g4uam .item:focus,
.cid-tRVV2g4uam span:focus {
    outline: none;
}

.cid-tRVV2g4uam .item {
    cursor: pointer;
    margin-bottom: 2rem;
}

.cid-tRVV2g4uam .item-wrapper {
    position: relative;
    border-radius: 4px;
    background: #fafafa;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 992px) {
    .cid-tRVV2g4uam .item-wrapper .item-content {
        padding: 2rem;
    }
}

@media (max-width: 991px) {
    .cid-tRVV2g4uam .item-wrapper .item-content {
        padding: 1rem;
    }
}

.cid-tRVV2g4uam .mbr-section-btn {
    margin-top: auto !important;
}

.cid-tRVV2g4uam .mbr-section-title {
    color: #232323;
}

.cid-tRVV2g4uam .mbr-text,
.cid-tRVV2g4uam .mbr-section-btn {
    text-align: center;
}

.cid-tRVV2g4uam .item-title {
    text-align: center;
}

.cid-tRVV2g4uam .item-subtitle {
    text-align: center;
}

.cid-tB85bPoWQz {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tB85bPoWQz .mbr-fallback-image.disabled {
    display: none;
}

.cid-tB85bPoWQz .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tB85bPoWQz .mbr-section-subtitle {
    color: #ffffff;
}

.cid-uwp249BoIi {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
}

.cid-tTO3fIHdJP {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tTO3fIHdJP .mbr-fallback-image.disabled {
    display: none;
}

.cid-tTO3fIHdJP .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tTO3fIHdJP .mbr-section-title {
    color: #ffffff;
}

.cid-udGuLhhhL0 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
}

.cid-udGuLhhhL0 .line {
    background-color: #056647;
    align: center;
    height: 2px;
    margin: 0 auto;
}

.cid-tTZftgi6HM {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tTZftgi6HM blockquote {
    border-color: #056647;
    border-radius: 4px;
    background-color: #fafafa;
}

.cid-tTZftgi6HM .mbr-section-title {
    color: #056647;
    text-align: left;
}

.cid-tTZgnENSlf {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tTZgnENSlf blockquote {
    border-color: #056647;
    border-radius: 4px;
    background-color: #fafafa;
}

.cid-tTZgnENSlf .mbr-section-title {
    color: #056647;
}

.cid-tTZgJOEp3e {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tTZgJOEp3e blockquote {
    border-color: #056647;
    border-radius: 4px;
    background-color: #fafafa;
}

.cid-tTZgJOEp3e .mbr-section-title {
    color: #056647;
}

.cid-v8JSiK2vIB {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-v8JSiK2vIB blockquote {
    border-color: #056647;
    border-radius: 4px;
    background-color: #fafafa;
}

.cid-v8JSiK2vIB .mbr-section-title {
    color: #056647;
}

.cid-v8JSku6xYL {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-v8JSku6xYL blockquote {
    border-color: #056647;
    border-radius: 4px;
    background-color: #fafafa;
}

.cid-v8JSku6xYL .mbr-section-title {
    color: #056647;
}

.cid-tB85KfdIqc {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tB85KfdIqc .mbr-fallback-image.disabled {
    display: none;
}

.cid-tB85KfdIqc .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tB85KfdIqc .mbr-section-subtitle {
    color: #ffffff;
}

.cid-tTZhZQwh6W {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.cid-tTZhZQwh6W .counter-container ul {
    margin: 0;
    list-style: none;
    padding-left: 2.5rem;
}

.cid-tTZhZQwh6W .counter-container ul li {
    margin-bottom: 1rem;
    list-style: none;
    position: relative;
    padding-left: 1rem;
}

.cid-tTZhZQwh6W .counter-container ul li:before {
    position: absolute;
    left: -40px;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #95cb95;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    content: "✓";
}

.cid-tB1yuhcVVi {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tB1yuhcVVi .mbr-fallback-image.disabled {
    display: none;
}

.cid-tB1yuhcVVi .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tB1yuhcVVi .mbr-section-title {
    color: #fde25b;
}

.cid-tB1yuhcVVi .mbr-section-subtitle {
    color: #ffffff;
}

.cid-tB1z7NONXX {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background: #ffffff;
}

.cid-tB1z7NONXX .mbr-fallback-image.disabled {
    display: none;
}

.cid-tB1z7NONXX .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tB1z7NONXX .team-card {
    margin-bottom: 2rem;
    transition: all 0.3s;
}

.cid-tB1z7NONXX .team-card:hover {
    transform: translateY(-10px);
}

.cid-tB1z7NONXX .card-wrap {
    background: #ffffff;
    border-radius: 4px;
}

@media (max-width: 991px) {
    .cid-tB1z7NONXX .card-wrap {
        margin-bottom: 2rem;
    }
}

.cid-tB1z7NONXX .card-wrap .image-wrap img {
    width: 100%;
}

@media (min-width: 768px) {
    .cid-tB1z7NONXX .card-wrap .content-wrap {
        padding: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-tB1z7NONXX .card-wrap .content-wrap {
        padding: 1rem;
    }
}

.cid-tB1z7NONXX .social-row {
    text-align: center;
}

.cid-tB1z7NONXX .social-row .soc-item {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.6rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 2px solid #6592e6;
    transition: all 0.3s;
}

.cid-tB1z7NONXX .social-row .soc-item .mbr-iconfont {
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #6592e6;
    font-size: 1.5rem;
}

.cid-tB1z7NONXX .social-row .soc-item:hover {
    background-color: #6592e6;
}

.cid-tB1z7NONXX .social-row .soc-item:hover .mbr-iconfont {
    color: #ffffff;
}

.cid-tU0NKr6Qyk {
    padding-top: 0rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-tU0NKr6Qyk .mbr-fallback-image.disabled {
    display: none;
}

.cid-tU0NKr6Qyk .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 991px) {
    .cid-tU0NKr6Qyk .image-wrapper {
        margin-bottom: 1rem;
    }
}

.cid-tU0NKr6Qyk .row {
    flex-direction: row-reverse;
}

.cid-tU0NKr6Qyk img {
    width: 100%;
}

.cid-uhfTGZCgag {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-uhfTGZCgag .mbr-fallback-image.disabled {
    display: none;
}

.cid-uhfTGZCgag .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uhfTGZCgag .mbr-section-subtitle {
    color: #ffffff;
}

.cid-uhfTEDrzG6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-uhfTEDrzG6 .mbr-fallback-image.disabled {
    display: none;
}

.cid-uhfTEDrzG6 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uhfTEDrzG6 .row {
    align-items: center;
}

@media (max-width: 991px) {
    .cid-uhfTEDrzG6 .image-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 992px) {
    .cid-uhfTEDrzG6 .text-wrapper {
        padding: 0 2rem;
    }
}

.cid-v8rN3npjgw {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-v8rN3npjgw .mbr-fallback-image.disabled {
    display: none;
}

.cid-v8rN3npjgw .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-v8rN3npjgw .mbr-section-subtitle {
    color: #ffffff;
}

.cid-tB85MvgqdZ {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tB85MvgqdZ .mbr-fallback-image.disabled {
    display: none;
}

.cid-tB85MvgqdZ .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tB85MvgqdZ .mbr-section-subtitle {
    color: #ffffff;
}

.cid-uwoOd3EPXa {
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-uwoOd3EPXa .mbr-fallback-image.disabled {
    display: none;
}

.cid-uwoOd3EPXa .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uwoOd3EPXa .item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

@media (min-width: 991px) {
    .cid-uwoOd3EPXa .item {
        margin-bottom: 4rem;
    }
}

.cid-uwoOd3EPXa .item:last-child .icon-box:before {
    display: none;
}

.cid-uwoOd3EPXa .item.last .icon-box:before {
    display: none;
}

.cid-uwoOd3EPXa .icon-box {
    background: #056647;
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 768px) {
    .cid-uwoOd3EPXa .icon-box {
        margin-right: 1rem;
    }
}

.cid-uwoOd3EPXa .icon-box::before {
    content: "\e925";
    font-family: Moririse2 !important;
    position: absolute;
    font-size: 32px;
    left: 50%;
    top: 120%;
    color: #056647;
    transform: translate(-50%, 0);
}

.cid-uwoOd3EPXa span {
    font-size: 2rem;
    color: #ffffff;
}

@media (max-width: 991px) {
    .cid-uwoOd3EPXa .card {
        margin-bottom: 2rem;
    }
    .cid-uwoOd3EPXa .card-wrapper {
        margin-bottom: 2rem;
    }
    .cid-uwoOd3EPXa .icon-box::before {
        top: 141%;
    }
}

@media (max-width: 768px) {
    .cid-uwoOd3EPXa .icon-box::before {
        top: 114%;
    }
}

.cid-uwoOd3EPXa .mbr-text,
.cid-uwoOd3EPXa .mbr-section-btn {
    text-align: left;
}

.cid-uwp6M28xWE {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #298c89;
}

.cid-uwp6M28xWE .mbr-fallback-image.disabled {
    display: none;
}

.cid-uwp6M28xWE .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uwp6M28xWE .content-wrapper {
    background: #298c89;
}

@media (max-width: 991px) {
    .cid-uwp6M28xWE .content-wrapper .image-wrapper {
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-uwp6M28xWE .content-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-uwp6M28xWE .content-wrapper {
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    .cid-uwp6M28xWE .content-wrapper {
        padding: 5rem 3rem;
    }
    .cid-uwp6M28xWE .content-wrapper .text-wrapper {
        padding-left: 2rem;
    }
}

.cid-uwp6M28xWE .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

.cid-uwp6M28xWE .mbr-text,
.cid-uwp6M28xWE .mbr-section-btn {
    color: #ffe161;
}

.cid-uwp6M28xWE .card-title {
    color: #ffffff;
}

.cid-uwoihflHRW {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-uwoihflHRW .mbr-fallback-image.disabled {
    display: none;
}

.cid-uwoihflHRW .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uwoihflHRW .mbr-section-subtitle {
    color: #ffffff;
}

.cid-uwoiEcycdT {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
}

.cid-uwxDfUAqh9 {
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: transparent;
}

.cid-uwxDfUAqh9 .mbr-fallback-image.disabled {
    display: none;
}

.cid-uwxDfUAqh9 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uwxDfUAqh9 .card-wrapper {
    background: #edffed;
}

@media (max-width: 767px) {
    .cid-uwxDfUAqh9 .card-wrapper {
        padding: 2rem 1.5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-uwxDfUAqh9 .card-wrapper {
        padding: 2.25rem;
    }
}

@media (min-width: 992px) {
    .cid-uwxDfUAqh9 .card-wrapper {
        padding: 4rem;
    }
}

.cid-uwxDfUAqh9 .mbr-text,
.cid-uwxDfUAqh9 .mbr-section-btn {
    text-align: left;
}

.cid-uwxDfUAqh9 .card-title {
    text-align: left;
}

.cid-tB88MG5MRU {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tB88MG5MRU .mbr-fallback-image.disabled {
    display: none;
}

.cid-tB88MG5MRU .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tB88MG5MRU .mbr-section-subtitle {
    color: #ffffff;
}

.cid-tTNurdHq8c {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-tTNurdHq8c .mbr-fallback-image.disabled {
    display: none;
}

.cid-tTNurdHq8c .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tTNurdHq8c .mbr-iconfont {
    font-size: 1.4rem !important;
    font-family: 'Moririse2' !important;
    color: #6c1c24;
    margin-left: 1rem;
}

.cid-tTNurdHq8c .panel-group {
    border: none;
}

.cid-tTNurdHq8c .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cid-tTNurdHq8c .panel-body,
.cid-tTNurdHq8c .card-header {
    padding: 1rem 0;
}

.cid-tTNurdHq8c .panel-title-edit {
    color: #000000;
}

.cid-tTNurdHq8c .card .card-header {
    background-color: transparent;
    margin-bottom: 0;
}

.cid-uwxDbNctQa {
    padding-top: 1rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-tQZlf1VNMR {
    padding-top: 3rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tQZlf1VNMR .mbr-fallback-image.disabled {
    display: none;
}

.cid-tQZlf1VNMR .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tQZlf1VNMR .image-wrap img {
    width: 100%;
}

@media (min-width: 992px) {
    .cid-tQZlf1VNMR .image-wrap img {
        display: block;
        margin: auto;
        width: 50%;
    }
}

.cid-tQZlf1VNMR .mbr-section-title {
    color: #ffffff;
}

.cid-tTZn7wVE15 {
    padding-top: 7rem;
    padding-bottom: 0rem;
    background-color: #254a45;
}

.cid-tTZn7wVE15 .mbr-fallback-image.disabled {
    display: none;
}

.cid-tTZn7wVE15 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tTZn7wVE15 .mbr-section-title {
    color: #ffe161;
}

.cid-tQZm7B904J {
    padding-top: 0rem;
    padding-bottom: 6rem;
    background-color: #254a45;
}

.cid-tQZm7B904J .mbr-fallback-image.disabled {
    display: none;
}

.cid-tQZm7B904J .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tQZm7B904J .mbr-text,
.cid-tQZm7B904J .mbr-section-btn {
    color: #232323;
}

.cid-tQZm7B904J .card-title,
.cid-tQZm7B904J .card-box {
    color: #ffffff;
}

.cid-tQZm7B904J .mbr-text,
.cid-tQZm7B904J .link-wrap {
    color: #ffffff;
}

.cid-tB7Yu884tX {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #232323;
}

.cid-tB7Yu884tX .mbr-fallback-image.disabled {
    display: none;
}

.cid-tB7Yu884tX .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tB7Yu884tX ul {
    list-style: none;
    margin: 0;
    padding-left: 2.5rem;
}

.cid-tB7Yu884tX li {
    position: relative;
    margin-bottom: 1rem;
}

.cid-tB7Yu884tX ul li::before {
    position: absolute;
    left: -1.6rem;
    content: "\2022";
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    width: 1.6rem;
}

.cid-tB7Yu884tX .list {
    color: #ffffff;
}

.cid-tRZgrFnffb {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #353535;
}

.cid-tRZgrFnffb .mbr-text {
    text-align: center;
    color: #ffffff;
}

.cid-tRZg6gyR1I {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #353535;
}

.cid-tRZg6gyR1I .row-links {
    width: 100%;
    justify-content: center;
}

.cid-tRZg6gyR1I .social-row {
    width: 100%;
    justify-content: center;
}

.cid-tRZg6gyR1I .media-container-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cid-tRZg6gyR1I .media-container-row .foot-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

.cid-tRZg6gyR1I .media-container-row .foot-menu li {
    padding: 0 1rem 1rem 1rem;
}

.cid-tRZg6gyR1I .media-container-row .foot-menu li p {
    margin: 0;
}

.cid-tRZg6gyR1I .media-container-row .social-list {
    width: auto;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.cid-tRZg6gyR1I .media-container-row .social-list .mbr-iconfont-social {
    font-size: 1.5rem;
    color: #ffffff;
}

.cid-tRZg6gyR1I .media-container-row .social-list .soc-item {
    margin: 0 .5rem;
}

.cid-tRZg6gyR1I .media-container-row .social-list a {
    margin: 0;
    opacity: .5;
    transition: .2s linear;
}

.cid-tRZg6gyR1I .media-container-row .social-list a:hover {
    opacity: 1;
}

@media (max-width: 767px) {
    .cid-tRZg6gyR1I .media-container-row .social-list {
        -webkit-justify-content: center;
        justify-content: center;
    }
}

.cid-tRZg6gyR1I .media-container-row .row-copirayt {
    word-break: break-word;
    width: 100%;
}

.cid-tRZg6gyR1I .media-container-row .row-copirayt p {
    width: 100%;
}

.cid-tBuMPzdHFY {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-tBuMPzdHFY .mbr-section-title {
    text-align: center;
}

.cid-tBuMj9hDkk {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-tBuMj9hDkk .mbr-section-title {
    text-align: center;
}

.cid-tBuOj1XZ1f {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-tBuOj1XZ1f .mbr-section-title {
    text-align: center;
}

.cid-uwuCzCRq6u {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-uwuCzCRq6u .mbr-fallback-image.disabled {
    display: none;
}

.cid-uwuCzCRq6u .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uwuCzCRq6u .mbr-section-subtitle DIV {
    text-align: left;
}

.cid-uwuCrvASfu {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-uwuCrvASfu .mbr-fallback-image.disabled {
    display: none;
}

.cid-uwuCrvASfu .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uwuCrvASfu .mbr-section-title {
    text-align: left;
}

.cid-uwuCrvASfu .mbr-section-subtitle DIV {
    text-align: left;
}

.cid-uwuCcR5Xvy {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-uwuCcR5Xvy .mbr-fallback-image.disabled {
    display: none;
}

.cid-uwuCcR5Xvy .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uwuCcR5Xvy .mbr-section-title {
    text-align: left;
}

.cid-uwuCcR5Xvy .mbr-section-subtitle DIV {
    text-align: left;
}